<%= provide(:title, "仮登録メール再送") %>
<h1 class="text-2xl text-center font-bold m-3"><%= yield(:title) %></h1>


<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class:" w-4/5 mx-auto  my-5" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="wrapper">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class:"border p-0.5 w-full" %>
  </div>

  <div class="wrapper">
    <%= f.submit "仮登録メール再送", class:"block mx-auto" %>
  </div>
<% end %>

<p class="text-center mx-0 mb-2">すでに登録済みの方は
<%= link_to "こちら", new_session_path(resource_name), class:"underline" %><br />
</p>
<p class="text-center mx-0 mb-2">Eメールが登録されていない方は
<%= link_to "こちら", new_registration_path(resource_name), class:"underline" %><br />
</p>