<% frames.each do |frame| %>
<div class="wrapper">
  <div class="inner-wrapper">
    <div class="pb-2">
      <p><%= l frame.created_at, format: :date_with_time %></p>
    </div>

    <div class="pb-2">
      <p>Mission</p>
      <p><%= frame.statement %></p>
    </div>

    <div class="h-80">
      <div class="flex h-3/6 justify-between">

        <div class="border-r border-b bg-green-50 w-1/2 flex flex-col">
          <div class="w-full">
            <% Tag.where(frame_id: frame.id, area_num: 1).each do |tag| %>
            <%= content_tag "div", class: "area_num_1 card flex justify-between" do %>
              <span class="w-5/6 truncate"><%= tag.text %></span>
            <% end %>
          <% end %>
          </div>
        </div>

        <div class="border-l border-b bg-blue-50 w-1/2 flex flex-col">
          <div class="w-full">
            <% Tag.where(frame_id: frame.id, area_num: 2).each do |tag| %>
            <%= content_tag "div", class: "area_num_1 card flex justify-between" do %>
              <span class="w-5/6 truncate"><%= tag.text %></span>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>

      <div class="flex h-3/6 justify-around">
        <div class="border-r border-t bg-yellow-50 w-1/2 flex flex-col">
          <div class="w-full">
            <% Tag.where(frame_id: frame.id, area_num: 3).each do |tag| %>
            <%= content_tag "div", class: "area_num_1 card flex justify-between" do %>
              <span class="w-5/6 truncate"><%= tag.text %></span>
            <% end %>
          <% end %>
          </div>
        </div>

        <div class="border-l border-t bg-red-50 w-1/2 flex flex-col">
          <div class="w-full">
            <% Tag.where(frame_id: frame.id, area_num: 4).each do |tag| %>
            <%= content_tag "div", class: "area_num_1 card flex justify-between" do %>
              <span class="w-5/6 truncate"><%= tag.text %></span>
            <% end %>
          <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>