<% frames.each do |frame| %>
<div class="wrapper">
  <div class="inner-wrapper">
    <div class="pb-2 flex justify-between">
      <div class="flex">
        <%= render "shared/user_image", { image: frame.user.image, size: 10 } %>    
        <div class="ml-2">
          <p class="font-bold"><%= frame.user.name %></p>
          <p class="text-gray-700	"><%= l frame.created_at, format: :date_with_time %></p>
        </div>
      </div>
      <% if frame.user_id == current_user.id %>
        <div>
        <%= link_to frame_tags_path(frame_id: frame.id), class: "edit_frame_#{frame.id}" do %>
          <p>編集<i class="far fa-edit ml-1"></i></p>
        <% end %>
        </div>
      <% end %>
    </div>

    <div class="pb-2">
      <p>Mission</p>
      <p><%= frame.statement %></p>
    </div>

    <div class="h-80">
      <div class="flex h-3/6 justify-between">
      <%= render "shared/tags_in_frames", { area_num: 1, frame: frame, border_and_bg_color: "border-r border-b bg-green-50 " } %>
      <%= render "shared/tags_in_frames", { area_num: 2, frame: frame, border_and_bg_color: "border-l border-b bg-blue-50 " } %>
      </div>

      <div class="flex h-3/6 justify-around">
      <%= render "shared/tags_in_frames", { area_num: 3, frame: frame, border_and_bg_color: "border-r border-t bg-yellow-50 " } %>
      <%= render "shared/tags_in_frames", { area_num: 4, frame: frame, border_and_bg_color: "border-l border-t bg-red-50 " } %>

      </div>
    </div>
  </div>
</div>
<% end %>