<%= form_with(model: @frame, class:" w-4/5 mx-auto  my-5", local: true ) do |f| %>
  <%= render "./shared/error_messages", elm: @frame %>

  <div class="wrapper">
    <div class="flex justify-between">
      <%= f.label :statement %><br />
      <p class="text-center mx-0 mb-2">あと<span id="statement_now_count"><%= @frame_statement_count %></span>文字</p>
    </div>
    <%= f.text_area :statement, class:"h-24 border p-0.5 w-full resize-none" %>
  </div>

  <div class="wrapper">
    <div class="flex justify-between">
      <%= f.label :text %><br />
      <p class="text-center mx-0 mb-2">あと<span id="text_now_count"><%= @frame_text_count %></span>文字</p>
    </div>
    <%= f.text_area :text, class:"h-80 border p-0.5 w-full resize-none" %>
  </div>

  <div class="wrapper">
    <%= f.submit "ToDoの作成へ", class:"block mx-auto", id: "frame_create_btn", disabled: true %>
  </div>
<% end %>
