<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= full_title(yield(:title)) %></title>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main class="w-11/12 mx-auto pb-20">
      <%= render 'shared/flash' %>
      <h1 class="text-2xl text-center font-bold m-3"><%= yield(:title) %></h1>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
